<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= content_for?(:title) ? yield(:title) : "Uglyindian" %></title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag "loggedin", :media => "all" %>
        <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'> -->
        <%= javascript_include_tag "loggedin" %>
        <%= yield :head %>
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Ugly Indian</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="<%= is_active_nav?('spotfixes','index') %>"><a href="/spotfixes">Home</a></li>
                <li class="<%= is_active_nav?('spotfixes','new') %>"><a href="/spotfixes/new">Create a Spotfix</a></li>
                <li><a href="/spotfixes">Join a Spotfix</a></li>
                <li><a href="#contact">Contribute to a Spotfix</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Logout</a></li>
                <li class="active"><a href="./"><%= current_user.name %></a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>
        <%= bootstrap_flash %>
        <%= yield %>
    </body>
</html>