<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= content_for?(:title) ? yield(:title) : "Uglyindian" %></title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag "loggedin", :media => "all" %>
        <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'> -->
        <%= javascript_include_tag "loggedin" %>
        <%= yield :head %>
    </head>

    <body>
        <%= yield %>
    </body>
</html>
